body {
	background-color: #ff6161;
}
.wrapper {
	margin:0 auto;
	width: 600px;
	font-family: helvetica;
}
h1 {
	color:white;
	margin: 20px auto;

}

#grid > div {
	width: 30px;
	height: 30px;
	background-color: white;
	float:left;
	box-shadow: inset 0px 0px 	1px 1px rgba(0,0,0,0.5);
	/*background: url('images/trump.jpg') no-repeat 0 0 fixed;*/

}

#grid {
	height: 480px;
	width: 480px;
	margin: 30px auto;
	box-shadow: 10px 7px 50px rgba(0,0,0,0.5);

}


.button {
	font-family: helvetica;
	display: inline;
	background-color: white;
	box-shadow: 10px 7px 50px rgba(0,0,0,0.5);
	width: 180px;
	padding: 10px;
	text-align: center;
	line-height: 2em;
	color:#ff6161;
	margin: 20px;
}
.button:hover {
	background-color: #ff6161;
	color:white;
}
.buttons {
	width: 60%;
	margin:30px auto;
}

.trump {
	background-image: url('images/trump.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}
.clinton {
	background-image: url('images/clinton.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 1000px;
}