body {
	background-color: #ff6161;
}
.wrapper {
	margin:0 auto;
	width: 600px;
	font-family: helvetica;
}
h1 {
	color:white;
	margin: 20px auto;
}

#grid > div {
	width: 30px;
	height: 30px;
	background-color: white;
	float:left;
	box-shadow: inset 0px 0px 	1px 1px rgba(0,0,0,0.5);
}

#grid {
	height: 480px;
	width: 480px;
	margin: 30px auto;
	box-shadow: 10px 7px 50px rgba(0,0,0,0.5);
}

#test {
	width: 50px;
	height: 50px;
	background-color: red;
	margin: 20px auto;
}

.button {
	font-family: helvetica;
	margin: 30px auto;
	display: block;
	background-color: white;
	box-shadow: 10px 7px 50px rgba(0,0,0,0.5);
	width: 180px;
	padding: 5px;
	text-align: center;
	line-height: 2em;
	color:#ff6161;
}
.button:hover {
	background-color: #ff6161;
	color:white;
}